body {
    display:flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    width:100%;
    height:100%;
}

header{
    display:flex;
    align-items: center;
    justify-content: flex-start;
    width:100%;
    height: 60px;
    background-color: rgb(252, 148, 79);
    box-shadow: -1px 11px 5px -2px rgba(0, 0, 0, 0.22);
    z-index:2;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    color: #FFF;
    margin-left:16px;
}

#map {
    width:100%;
    height:100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: #323232;
    z-index:1;
}


.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    width: 300px; /* Adjust the width as needed */
    background-color: white;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 10px;
    overflow-y: auto;
    height: 100%;
    z-index: 1;
}

.top-right-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 9999; /* Ensure it's on top of the map */

}
